.shop-container {
  display: flex;
}
.product-container {
  margin-left: 10px;
  color: rgb(102, 67, 16);
  padding-right: 5px;
  font-family: initial;
  margin-top: 10px;
  width: 70%;
  border-right: 1px solid lightgray;
  overflow: hidden;
}
.cart-container {
  width: 25%;
  float: left;
  overflow: hidden;
}

@media all and (max-width: 668px) {
  .product-container {
    margin-left: 0px;
    border-right: none;
    width: 90%;
    padding: 0 20px;
    text-align: centers;
  }
  .cart-container {
    width: 50%;
    text-align: center;
    margin: auto;
    background-color: rgb(247, 242, 242);
    border-style: outset;
    margin-top: 10px;
  }

  .shop-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
