.cart h2 {
  color: rgb(43, 23, 23);
}
.cart {
  color: rgb(0, 0, 0);
  margin-top: 5px;
  margin-left: 5px;
  padding: 10px;
  line-height: 1.5;
  font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cart span {
  color: rgb(199, 40, 40);
}

@media all and (max-width: 668px) {
  .cart {
    margin-left: 0;
    width: auto;
    height: auto;
  }
}
