.product {
  display: flex;
  border-bottom: 1px solid lightgray;
  margin: 5px 10px 5px 0;
}
.product div {
  padding: 4px;
}
.product-name a {
  color: #086890;
  text-decoration: none;
  font-family: tahoma;
  font-weight: 300;
}

.main-button {
  background-color: goldenrod;
  font-weight: bold;
  width: 210px;
  height: 35px;
  border: 1px solid rgb(90, 88, 88);
  border-radius: 5px;
  cursor: pointer;
}
.main-button:active {
  font-size: 14px;
}
.main-button:focus {
  outline: none;
}

.product img {
  padding: 5px;
}

@media all and (max-width: 668px) {
  .product {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-align: center;
  }
}
